<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>16.0</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>5</NumElts>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>3</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\Administrator\Documents\LabVIEW Data</Val>
</Path>
<Boolean>
<Name>save file</Name>
<Val>0</Val>
</Boolean>
<Refnum>
<Name>refnum out</Name>
<RefKind>Byte Stream File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
<Cluster>
<Name>Hardware Config</Name>
<NumElts>2</NumElts>
<String>
<Name>Bautrate</Name>
<Val>9600</Val>
</String>
<Refnum>
<Name>VISA</Name>
<RefKind>VISA</RefKind>
<Val>COM6</Val>
</Refnum>
</Cluster>
<Cluster>
<Name>Advance Setting</Name>
<NumElts>18</NumElts>
<DBL>
<Name>PWM_Step</Name>
<Val>500.00000000000000</Val>
</DBL>
<DBL>
<Name>PWM_MIN</Name>
<Val>20.00000000000000</Val>
</DBL>
<DBL>
<Name>PWM_MAX</Name>
<Val>65500000.00000000000000</Val>
</DBL>
<DBL>
<Name>DeadZone(mv)</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>SamCycle(ms)</Name>
<Val>20.00000000000000</Val>
</DBL>
<DBL>
<Name>Bang-BangTerm</Name>
<Val>1.00000000000000</Val>
</DBL>
<DBL>
<Name>ecS</Name>
<Val>10.00000000000000</Val>
</DBL>
<DBL>
<Name>ecM</Name>
<Val>50.00000000000000</Val>
</DBL>
<DBL>
<Name>ecL</Name>
<Val>300.00000000000000</Val>
</DBL>
<DBL>
<Name>eS</Name>
<Val>20.00000000000000</Val>
</DBL>
<DBL>
<Name>eM</Name>
<Val>80.00000000000000</Val>
</DBL>
<DBL>
<Name>eL</Name>
<Val>1000.00000000000000</Val>
</DBL>
<DBL>
<Name>Kd F</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Ki F</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Kp F</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>Kd</Name>
<Val>4.00000000000000</Val>
</DBL>
<DBL>
<Name>Ki</Name>
<Val>16.00000000000000</Val>
</DBL>
<DBL>
<Name>Kp</Name>
<Val>8.00000000000000</Val>
</DBL>
</Cluster>
<Cluster>
<Name>FuzzyMap</Name>
<NumElts>1</NumElts>
<Array>
<Name>Table</Name>
<Dimsize>7</Dimsize>
<Dimsize>7</Dimsize>
<String>
<Name></Name>
<Val>NM,NS,ZE</Val>
</String>
<String>
<Name></Name>
<Val>PS,PM,PL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,PS,NL</Val>
</String>
<String>
<Name></Name>
<Val>PL,NL,NS</Val>
</String>
<String>
<Name></Name>
<Val>PL,NL,NS</Val>
</String>
<String>
<Name></Name>
<Val>PM,NM,NS</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,PM,NL</Val>
</String>
<String>
<Name></Name>
<Val>PM,NM,NL</Val>
</String>
<String>
<Name></Name>
<Val>PM,NM,NL</Val>
</String>
<String>
<Name></Name>
<Val>PM,NS,NM</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,PL,NL</Val>
</String>
<String>
<Name></Name>
<Val>PM,NM,NL</Val>
</String>
<String>
<Name></Name>
<Val>PS,NS,NM</Val>
</String>
<String>
<Name></Name>
<Val>PS,NS,NM</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,PL,NL</Val>
</String>
<String>
<Name></Name>
<Val>PS,NS,NL</Val>
</String>
<String>
<Name></Name>
<Val>PS,NS,NM</Val>
</String>
<String>
<Name></Name>
<Val>ZE,ZE,NS</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NL,NL,NL</Val>
</String>
<String>
<Name></Name>
<Val>NM,PM,PS</Val>
</String>
<String>
<Name></Name>
<Val>ZE,ZE,NM</Val>
</String>
<String>
<Name></Name>
<Val>ZE,ZE,NS</Val>
</String>
<String>
<Name></Name>
<Val>NS,PS,NS</Val>
</String>
<String>
<Name></Name>
<Val>NM,PM,NS</Val>
</String>
<String>
<Name></Name>
<Val>NM,PM,ZE</Val>
</String>
<String>
<Name></Name>
<Val>NM,PL,PS</Val>
</String>
<String>
<Name></Name>
<Val>NL,PL,PS</Val>
</String>
<String>
<Name></Name>
<Val>ZE,ZE,PS</Val>
</String>
<String>
<Name></Name>
<Val>NS,ZE,PS</Val>
</String>
<String>
<Name></Name>
<Val>NS,PS,ZE</Val>
</String>
<String>
<Name></Name>
<Val>NM,PM,ZE</Val>
</String>
<String>
<Name></Name>
<Val>NM,PL,ZE</Val>
</String>
<String>
<Name></Name>
<Val>NL,PL,PL</Val>
</String>
<String>
<Name></Name>
<Val>NL,PL,PL</Val>
</String>
</Array>
</Cluster>
<Cluster>
<Name>ControlMode</Name>
<NumElts>1</NumElts>
<EL>
<Name>Control</Name>
<Choice>1</Choice>
<Choice>2</Choice>
<Choice>4</Choice>
<Val>1</Val>
</EL>
</Cluster>
</Cluster>
</LVData>