#python
*.pyc
*.htm
/STM32F373/bin
/PythonControler/src/data
PythonControler\src\__pycache__

*.hex
*.lnp
*.map
*.sct
*.dep
*.o
*.d
*.crf
*.axf
*.lst
*.hex
/MFC_RTOS_Hal/MDK-ARM/MFC_RTOS_Hal
/STM32F373/user
MFCF373.hex